{
    "accounts":[
        

        {"name": "BBCSport", "file": "data/sports"},
        {"name": "WorldSportCNN", "file": "data/sports"},
        {"name": "ReutersSports", "file": "data/sports"},
        {"name": "foxsportsnews", "file": "data/sports"},
        {"name": "nbcsports", "file": "data/sports"},
        {"name": "espn", "file": "data/sports"},
        {"name": "nydnsports", "file": "data/sports"},

        
        {"name": "nbcpolitics", "file": "data/politics"},
        {"name": "cnnpolitics", "file": "data/politics"},
        {"name": "abcpolitics", "file": "data/politics"},
        {"name": "foxnewspolitics", "file": "data/politics"},
        {"name": "BBCPolitics", "file": "data/politics"},
        {"name": "ReutersPolitics", "file": "data/politics"},
        

        {"name": "ReutersTech", "file": "data/technology"},        
        {"name": "cnntech", "file": "data/technology"},
        {"name": "BBCTech", "file": "data/technology"},
        {"name": "fttechnews", "file": "data/technology"},
        {"name": "fxnscitech", "file": "data/technology"},
        {"name": "techcrunch", "file": "data/technology"},
        {"name": "nbcnewstech", "file": "data/technology"},
        {"name": "forbestech", "file": "data/technology"}
    ]
}
